header {
     text-align: center;
     background: url('http://dash.ga.co/assets/jeff-bg.png');
     background-size: cover;
     color: white;
   }

   ul {
     padding: 10px;
     background: rgba(0,0,0,0.5);
   }
   li {
     display: inline;
     padding: 0px 10px 0px 10px;
   }
