.body {
  background-color: rgb(211,211,211);
  font-family: helvetica;
  padding: 10px;
      }
a {
  text-decoration: none;
  color: green;
}

#container  {
   background-color: white;
   width: 800px;
   margin-left: auto;
   margin-right: auto;
            }

.header {
     color: white;
     background-color: green;
     text-align: center;
     font-family: "courier new", courier, monospace;
     font-style: impact, italic;
     padding: 10px;
        }

#footer {
  clear: both;
  background-color: grey;
  color: white;
  text-align: center;
         }

.container2 {
  display: flex;
            }

.item {
  width: 100%;
  padding:20px;
      }

div div.image img {
  width: 90%;

}
