.header {
     color: white;
     background-color: darkgreen;
     text-align: center;
     font-family: "courier new", courier, monospace;
     font-style: impact, italic;
     padding: 10px;
     font-weight: bold;
        }

  .content {
      background-color: white;
      padding: 30px;
      font-size: 15px;
      font-family: "courier new", courier, monospace;
      font-style: impact;
      style: impact;
        }
        .col-sm-8 h4 {
          font-size: 30px;
        }

.container2 {
  display: flex;
            }
.item {
  width: 100%;
  padding:20px;
      }

div div.image img {
  width: 90%;
  height: 200%;
  padding: 5px;

}

form {
  border: 4px solid #f1f1f1;
}

.container {
  padding: 20px;
  background-color: darkgreen;
  color: white;
  font-family: "courier new", courier, monospace;
  font-style: impact;
  style: impact;
}

.Navbar {
  font-family: "courier new", courier, monospace;
  font-style: impact;
  style: impact;
  font-size: 20px;
  padding: 10px;
}
